.content-block {
  margin: 2.5rem auto;
  padding: 0 1rem;

  @include respond-to($breakpoint-sm) {
    padding: 2rem;
  }

  @include respond-to($breakpoint-md) {
    padding: 1rem 2rem;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    @include respond-to($breakpoint-sm) {
      padding: 0 5rem;
    }

    @include respond-to($breakpoint-md) {
      flex-direction: row;

      &.image-right {
        flex-direction: row-reverse;
      }
    }

    .image-container {
      width: 100%;
      display: flex;
      justify-content: center;

      @include respond-to($breakpoint-md) {
        width: 50%;
      }
    }

    .text-container {
      width: 100%;
      text-align: left;

      @include respond-to($breakpoint-md) {
        width: 50%;
      }

      p {
        text-align: left;
      }
    }
  }
}
