@import "variables";
@import "mixins";

// Components
@import "../app/components/PasswordGenerator/PasswordGenerator";
@import "../app/sections/contentBlock/contentBlock";
@import "../app/sections/header/header";
@import "../app/sections/subHeader/subHeader";

body {
  margin: 0;
  background-color: $background-white;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

.text-balance {
  text-wrap: balance;
}

.container {
  margin: 0 auto;
  max-width: $container-max-width;
}

h1 {
  color: $text-white;
  font-size: $font-size-h1;
  font-weight: 700;
  margin-bottom: $spacing-base;
  text-align: center;
  line-height: 52px;
}

h2 {
  color: $text-black;
  font-size: $font-size-h2;
  margin-bottom: $spacing-base * 2;
  font-weight: 700;
  text-align: left;
  line-height: 32px;
}

p {
  color: $text-gray;
  margin-bottom: $spacing-base * 1.5;
  text-align: center;
  line-height: 26px;
}
